body {
    background: linear-gradient(#ff9800, #e65100);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: center;
}

h1 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    display: inline;
    text-shadow: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
    width: 90%;
    max-width: 1200px;
}

.formContainer {
    text-align: center;
    background-color: #ef6c00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    margin-right: 20px;
}

label {
    color: #fff;
    font-size: 14px;
    margin-right: 10px;
}

input {
    padding: 8px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

button {
    background-color: #fff3e0;
    color: #bf360c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}

button:hover {
    background-color: #bf360c;
    color: #fff;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #e65100;
    color: #fff;
}

td {
    background-color: #fff3e0;
    color: #4e2600;
}

.delete-btn {
    background-color: #e65100;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}



.delete-btn:hover {
    background-color: #bf360c;
}

#productsTable tbody tr {
    background-color: #fff3e0;
    color: #4e2600;
}
